body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*index*/
.navbar {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

#logo a {
    color: #4faa91;
    text-decoration: none;
}

#logo h3 {
    font-size: 24px;
    font-weight: 800;
}

#logo {
    font-weight: 500;
    margin-left: 30px;    
}

.right-navbar {
    display: flex;
    margin-right: 10px;
    padding: 10px;
}

.right-navbar a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.main-container {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 40px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p {
    color: white;
    font-size: 20px;
    margin-top: 0;
}

.cards {
    display: flex;       
    justify-content: space-evenly;
    padding: 50px;
    height: 350px;
}

.card1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    border-radius: 20px;
}

.card2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    border-radius: 20px;
}

#labels {
    display: flex;
    flex-direction: column;
}

#departure {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

#arrival {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

#button {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

button {
    background-color: #4faa91;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px green;
}

button:active {
    box-shadow: 0 0 green;
    top: 4px;
}

#date {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#start{
background-color: lightgrey;
border: none;
border-radius: 5px;
}


/*cart*/
.background-cart {
    background-color: #f1f3f3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickets {
    background-color: white;
    padding: 10px 250px 10px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*bookings*/
.background-bookings {
    background-color: #f1f3f3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}